<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/002fd73c-b948-41c2-9b4e-2aa457c38646/resourceGroups/rg-hw6/providers/Microsoft.ContainerRegistry/registries/cscie94Registry</ResourceId>
    <ResourceName>cscie94Registry</ResourceName>
    <ResourceGroup>rg-hw6</ResourceGroup>
    <Subscription>Microsoft Azure Sponsorship 2</Subscription>
    <RegistryUrl>https://cscie94registry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0026ed4f-5e6c-41df-8e94-71331f388c02</ProjectGuid>
  </PropertyGroup>
</Project>