**/bin/
**/.vs/
**/obj/
**/TestResults
*.user
*.log
*.tmp
packages/
*.dll
*.generated.cs
publish/
.vscode/
*.mdf
*.ldf
_ReSharper*/
*.nupkg
**/lib/
*settings*
*appsettings*
**/settings.*
**/appsettings.*
/TodoTasksApp/appsettings.json
/HW7DocumentSearchSolution/appsettings.json
/HW7DocumentSearchSolution/appsettings.Development.json