<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/002fd73c-b948-41c2-9b4e-2aa457c38646/resourceGroups/Assignments/providers/Microsoft.Web/sites/TicTacToe-HW1</ResourceId>
    <ResourceGroup>Assignments</ResourceGroup>
    <ApiResourceId>/subscriptions/002fd73c-b948-41c2-9b4e-2aa457c38646/resourceGroups/Assignments/providers/Microsoft.ApiManagement/service/TicTacToeGameapi/apis/TicTacToeGame</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tictactoe-hw1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>d1d1614b-8a63-4b56-9c1a-39273a5f4ccd</ProjectGuid>
    <MSDeployServiceURL>tictactoe-hw1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TicTacToe-HW1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TicTacToe-HW1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>